html,
body {
    background-color: #fff;
    color: #636b6f;
    font-family: "Nunito", sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    -webkit-box-align: center;
    align-items: center;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}

.flex {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -webkit-flexbox;
    gap: var(--gap, 1rem);
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

footer {
    background: #eee;
    padding: 20px;
    text-align: center;
}

.title {
    font-size: 30px;
    text-transform: uppercase;
    border-bottom: 2px solid;
    padding: 12px 0;
    color: #5e2195;
}

.wrapper {
    max-width: 1140px;
    padding: 10px;
    margin: 20px auto;
}

/* trips details page */

.trip-details {
    background: #f7f7f7;
    padding: 20px;
}

.trip-details p {
    margin: 20px 0;
    font-weight: bold;
}

.trip-details button {
    background: #5e2195;
    padding: 8px 20px;
    color: #fff;
    border: 0;
    margin-top: 20px;
}

a {
    font-size: 20px;
}

a.back {
    display: block;
    text-align: center;
    margin-top: 30px;
    color: #5e2195;
    margin-bottom: 20px;
    text-decoration: none;
}

a.list {
    display: block;
    margin-top: 30px;
    color: #5e2195;
    margin-bottom: 20px;
    text-decoration: none;
}

/* trip index page */

.trip-index h1 {
    margin-bottom: 40px;
}

.trip-index .trip-item {
    margin: 10px 0;
    padding: 0.01rem;
    background: #f4f4f4;
}

.trip-index .trip-item img {
    width: 60px;
    display: inline-block;
}

.trip-index .trip-item h4 {
    display: inline-block;
    font-weight: normal;
    margin-left: 20px;
}

.trip-index .trip-itemh4 a {
    color: #777;
    text-decoration: none !important;
}

.mssg {
    font-size: 20px;
    color: red;
    padding-block: 2rem;
}
